.background {
  fill: none;
  pointer-events: all;
}

#map_container {
}

#states {
  fill: #aaa;
}

#states .active {
  fill: orange;
}

#borders-path {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.pipeline_path {
  stroke-width: 3px;
  stroke: black;
  fill: none;
}

.waterbody{
  fill: blue;
}

.waterwell {
  fill: aqua;
}

.fraccident {
  fill:red;
}

.indian_reservation {
  fill:green;
}

.oilspill {
  fill: brown;
}

/* this isnt changing the size of the slider for some reason */
.slider-wrapper {
    width: 100px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#chart {
	height:250px;
	width:250px;
}

svg text {
    fill: white;
}
#myModal {
left: auto; /* <-- Reset the default left value */
  right: 20px;
}
