.background {
  fill: none;
  pointer-events: all;
}

.state-path {
  stroke-width: 1.5px;
  stroke: white;
  fill: #aaa;
  cursor: pointer;
}

.pipeline-path {
  stroke-width: 1.5px;
  stroke: black;
  fill: none;
}